Ejercicio/ZWS.xml

 <?xml version="1.0" encoding="utf-8"?> 
 <wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
<wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" /> 
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" /> 
 <wsp:Policy wsu:Id="BN__ZMF_ENVIO_AJAX_B">
 <wsp:ExactlyOne>
 <wsp:All>
 <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
 <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
 <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
 </wsp:All>
 <wsp:All>
 <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
 <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
 <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
 </wsp:All>
 </wsp:ExactlyOne>
 </wsp:Policy>
 <wsp:Policy wsu:Id="BN__ZMF_ENVIO_AJAX_B_soap12">
 <wsp:ExactlyOne>
 <wsp:All>
 <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
 <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" /> 
 <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
 </wsp:All>
 <wsp:All>
  <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled> 
  <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" /> 
  <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" /> 
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
 <wsp:Policy wsu:Id="IF__ZMF_ENVIO_AJAX">
 <wsp:ExactlyOne>
 <wsp:All>
 <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
  <sapsession:enableSession>false</sapsession:enableSession> 
  </sapsession:Session>
 <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
  <sapcentraladmin:BusinessApplicationID>50C7ADA838DC60B0E10000000A642968</sapcentraladmin:BusinessApplicationID> 
  </sapcentraladmin:CentralAdministration>
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
 <wsp:Policy wsu:Id="OP__ZmfEnvioAjax">
 <wsp:ExactlyOne>
 <wsp:All>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required> 
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit> 
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking> 
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM> 
  </wsp:All>
  </wsp:ExactlyOne>
  </wsp:Policy>
 <wsdl:types>
 <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
 <xsd:simpleType name="char16">
 <xsd:restriction base="xsd:string">
  <xsd:maxLength value="16" /> 
  </xsd:restriction>
  </xsd:simpleType>
  </xsd:schema>
 <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" /> 
 <xsd:element name="ZmfEnvioAjax">
 <xsd:complexType>
 <xsd:sequence>
 <xsd:element name="ICadena" type="n0:char16" /> 
 </xsd:sequence>
 </xsd:complexType>
 </xsd:element>
 <xsd:element name="ZmfEnvioAjaxResponse">
 <xsd:complexType>
 <xsd:sequence>
 <xsd:element name="ECadena" type="n0:char16" /> 
 </xsd:sequence>
 </xsd:complexType>
 </xsd:element>
 </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ZmfEnvioAjax">
 <wsdl:part name="parameters" element="tns:ZmfEnvioAjax" /> 
 </wsdl:message>
 <wsdl:message name="ZmfEnvioAjaxResponse">
 <wsdl:part name="parameter" element="tns:ZmfEnvioAjaxResponse" /> 
 </wsdl:message>
 <wsdl:portType name="ZMF_ENVIO_AJAX">
 <wsp:Policy>
 <wsp:PolicyReference URI="#IF__ZMF_ENVIO_AJAX" /> 
 </wsp:Policy>
 <wsdl:operation name="ZmfEnvioAjax">
 <wsp:Policy>
 <wsp:PolicyReference URI="#OP__ZmfEnvioAjax" /> 
 </wsp:Policy>
 <wsdl:input message="tns:ZmfEnvioAjax" /> 
 <wsdl:output message="tns:ZmfEnvioAjaxResponse" /> 
 </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="ZMF_ENVIO_AJAX_B" type="tns:ZMF_ENVIO_AJAX">
 <wsp:Policy>
 <wsp:PolicyReference URI="#BN__ZMF_ENVIO_AJAX_B" /> 
 </wsp:Policy>
 <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
 <wsdl:operation name="ZmfEnvioAjax">
 <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZMF_ENVIO_AJAX:ZmfEnvioAjaxRequest" style="document" /> 
 <wsdl:input>
 <soap:body use="literal" /> 
 </wsdl:input>
 <wsdl:output>
 <soap:body use="literal" /> 
 </wsdl:output>
 </wsdl:operation>
 </wsdl:binding>
 <wsdl:binding name="ZMF_ENVIO_AJAX_B_soap12" type="tns:ZMF_ENVIO_AJAX">
 <wsp:Policy>
 <wsp:PolicyReference URI="#BN__ZMF_ENVIO_AJAX_B_soap12" /> 
 </wsp:Policy>
 <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
 <wsdl:operation name="ZmfEnvioAjax">
 <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZMF_ENVIO_AJAX:ZmfEnvioAjaxRequest" style="document" /> 
 <wsdl:input>
 <wsoap12:body use="literal" /> 
 </wsdl:input>
 <wsdl:output>
 <wsoap12:body use="literal" /> 
 </wsdl:output>
 </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="ZMF_ENVIO_AJAX">
 <wsdl:port name="ZMF_ENVIO_AJAX_B" binding="tns:ZMF_ENVIO_AJAX_B">
 <soap:address location="http://omerpdev.omnilife.com:8008/sap/bc/srt/rfc/sap/zmf_envio_ajax/100/zmf_envio_ajax/zmf_envio_ajax_b" /> 
 </wsdl:port>
 <wsdl:port name="ZMF_ENVIO_AJAX_B_soap12" binding="tns:ZMF_ENVIO_AJAX_B_soap12">
 <wsoap12:address location="http://omerpdev.omnilife.com:8008/sap/bc/srt/rfc/sap/zmf_envio_ajax/100/zmf_envio_ajax/zmf_envio_ajax_b" /> 
 </wsdl:port>
 </wsdl:service>
 </wsdl:definitions>